.container{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(201, 197, 197);
}

h4{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
}

.container-item{
    display: flex;
    align-items: center;
}

.container-item i{
    font-size: 15px;
}

.container-item .btn{
    color: black;
    width: 15px;
    height: 15px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: aqua;
    align-items: center;
    border: 2px solid aqua;
    display: flex;
}

.btn-left{
    left: 0;
    margin-right: 20px;
}

.container_image{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    border-bottom: 1px solid rgb(201, 197, 197);
}

.container_image img{
    width: 270px;
    height: 200px;
    margin: 10px 15px;
    left: 0;
}

.container-information{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    border-bottom: 1px solid rgb(201, 197, 197);
}

.infor_introduction{
    width: 600px;
}

.infor_introduction span{
    line-height: 1.4;
    margin-bottom: 10x;
}

.infor_introduction_name{
    display: flex;
    align-items: center;
}

.infor_introduction_name i{
    font-size: 20px;
}

.infor_company{
    justify-content: space-around;
    justify-items: center;
}

.infor_company_name{
    display: flex;
    align-items: center;
}

.infor_company_name i{
    font-size: 20px;
}

.infor_company img{
    width: 200px;
    height: 150px;
    border: 1px solid rgb(211, 210, 210);
    display: inline-block;
    margin: 0;
    padding: 0;
}

.container_download{
    display: flex;
    border: 1px solid rgb(0, 195, 255);
    background-color: aqua;
    margin: 10px 0%;
    align-items: center;
    width: 100%;
    height: 120px;
    justify-content: space-between;
}

.download_content{
    margin: 10px 40px;
    align-items: center;
}

.content{
    width: 700px;
    line-height: 1.5;
}

.container_download span{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

.container_download button{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: rgb(0, 110, 255);
    width: 250px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid rgb(7, 175, 226);
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease; /* Hiệu ứng chuyển */
    box-shadow: 0px 4px 6px rgb(0, 110, 255); 
}

.container_download button:hover{
    transform: translateY(-4px); /* Nút di chuyển lên khi di chuột */
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.3);
}

.container_download button:active{
    transform: translateY(0); /* Nút nhấn xuống */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2)
}

.container_download button i{
    margin-right: 10px;
    color: white;
}