<!DOCTYPE html>
<html>
    <head>
        <meta charset=utf-8>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/footer.css">
    </head>
    <body>
        <div class="footer">
            <nav class="container">
                <div class="footer_content" style="width: 350px;">
                    <h4>ABOUT US</h4>
                    <span>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Morbi euismod placerat dui et tincidunt. Tác giả Sed sollitudin posuere. 
                        Phasellus và ultricies nisl. Số nguyên tại leo eros. 
                        Ut nec lorem id orci convallis porta. 
                        Donec pharetra neque eu velit dictum molestie
                    </span>
                </div>
                <div class="footer_content">
                    <h4>EXPLORE</h4>
                    <ul class="content_item">
                        <li><a href="">Home</a></li>
                        <li><a href="">About Us</a></li>
                        <li><a href="">Services</a></li>
                        <li><a href="">Portfolio</a></li>
                        <li><a href="">Blog</a></li>
                    </ul>
                </div>
                <div class="footer_content">
                    <h4>BROWSE</h4>
                    <ul class="content_item">
                        <li><a href="">Careers</a></li>
                        <li><a href="">Press & Media</a></li>
                        <li><a href="">Contact Us</a></li>
                        <li><a href="">Term of Service</a></li>
                        <li><a href="">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="footer_content">
                    <h4>CONTACT US</h4>
                    <span>
                        <strong>BisLite Inc.</strong> <br>
                        Always Street 265 <br>
                        0X - 125 -Canada <br>
                        <br>
                        Phone: 987-6543-210 <br>
                        Fax: 987-6543-210 <br>
                    </span>
                </div>
                <div class="footer_content">
                    <h4>CONNECT WITH US</h4>
                    <div>
                            <img src="../images/facebook.png" alt="">
                            <img src="../images/dribble.jfif" alt="">
                            <img src="../images/pinterest.png" alt="">
                    </div>
                    <div>
                            <img src="../images/linkedln.png" alt="">
                            <img src="../images/skype.png" alt="">
                            <img src="../images/share.png" alt="">
                    </div>
                </div>
            </nav>
            <nav class="container_end">
                    <div class="end_content" >
                        <div class="messa">
                            Copyright 2021. All rights reserved. <br>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </div>
                    </div>
                    <div class="end_content" >
                        <strong class="name">
                            <span class="header_bis">Bis</span>
                            <span class="header_lite">Lite</span>
                        </strong>
                    </div>
            </nav>
        </div>
    </body>
</html>