<!DOCTYPE html>
<html>
    <head>
        <meta charset=utf-8>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/home.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    </head>
    <body>
        <div class="home">
            <nav class="container">
                <div class="container-item">
                    <i class="fa-solid fa-arrow-pointer" style="color: #74C0FC; font-size: 40px;"></i>
                    <h4>LATEST WORKS</h4>
                </div>
                <div class="container-item">
                    <div class="btn-left btn">
                        <i class="fa-solid fa-angle-left"></i>
                    </div>
                    <div class="btn-right btn">
                        <i class="fa-solid fa-angle-right"></i>
                    </div>
                </div>
            </nav>

            <!-- image -->
            <nav class="container_image">
                <img src="../images/finish.webp" alt="">
                <img src="../images/lemon.jpeg" alt="">
                <img src="../images/lego.jpg!w700wp" alt="">
                <img src="../images/target.jpg" alt="">
            </nav>

            <!-- information -->
            <nav class="container-information">
                <div class="infor_introduction">
                    <div class="infor_introduction_name">
                        <i class="fa-solid fa-comment" style="color: #74C0FC;"></i>                        
                        <h4>TESTIMONIALS</h4>
                    </div>
                    <span>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Maecenas ut nulla sapien, at aliquam erat. 
                        Sed vitae massa tellus. 
                        Aliquam commodo aliquam metus, sed iaculis nibh tempus id. 
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam nec nisi in nisl euismod fringilla
                    </span>
                    <br>
                    <br>
                    <strong>
                        John Travis, CEO, DomainName.com
                    </strong>
                </div>
                <div class="infor_company">
                    <div class="infor_company_name">
                        <i class="fa-solid fa-user-group" style="color: #74C0FC;"></i>
                        <h4>OUR CLIENTS</h4>
                    </div>
                    <div class="">
                        <img src="../images/company-1.jpg" alt="">
                        <img src="../images/company-2.png" alt="">
                        <img src="../images/company-3.webp" alt="">
                    </div>
                    <div class="">
                        <img src="../images/company-4.png" alt="">
                        <img src="../images/company-5.svg" alt="">
                        <img src="../images/company-6.webp" alt="">
                    </div>
                </div>
            </nav>
            <nav class="container_download">
                <div class="download_content content">
                    <span>
                        This is a clean and modern, four column website PSD template. 
                        You can code it into a Wordpress website, HTML5 responsive website for your personal or client works. 
                        So ahead and download this wonderful PSD template!
                    </span>
                </div>
                <div class="download_content">
                    <button>
                        <i class="fa-solid fa-download"></i>
                        <strong>
                            DOWNLOAD PSD
                        </strong>
                    </button>
                </div>
            </nav>
        </div>
    </body>
</html>