<!DOCTYPE html>
<html>
    <head>
        <meta charset=utf-8>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/information_web.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    </head>
    <body>
        <div class="information_web">
            <nav class="container_item">
                <div class="item_content">
                    <div class="inline">
                        <img src="../images/pen.webp" alt=""><h4>CLEAN THEME</h4>
                    </div>
                    <span>
                        Ut nec lorem id orci convallis porta. 
                        Donec pharetra neque eu velit dictum molestie. 
                        Duis porta gravida augué sed viverra. 
                        Quisque at nulla leo, non aliquet mi.
                    </span>
                    <div class="inline_i">
                        <i class="fa-solid fa-angle-right"></i><a href="">Read more</a>
                    </div>
                </div>
                <div class="item_content">
                    <div class="inline">
                        <img src="../images/screen.JPG" alt=""><h4>RESPONSIVE DESIGN</h4>
                    </div>
                    <span>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Morbi euismod placerat dui et tincidunt. 
                        Sed sollicitudin posuere auctor. 
                        Phasellus at ultricies nisl. 
                        Integer at leo eros
                    </span>
                    <div class="inline_i">
                        <i class="fa-solid fa-angle-right"></i> <a href="">Read more</a>
                    </div>
                </div>
                <div class="item_content">
                    <div class="inline">
                        <img src="../images/menu icon.png" alt=""><h4>FULLY LAYERD PSD</h4>
                    </div>
                    <span>
                        Phasellus lobortis metus non augue sodales volutpat. 
                        Vestibulum sit amet nibh eros, hendrerit venenatis est. 
                        In vitae nulla nec purus cursus pretium sed id magna.
                    </span>
                    <div class="inline_i">
                        <i class="fa-solid fa-angle-right"></i><a href="">Read more</a>
                    </div>
                </div>
                <div class="item_content">
                    <div class="inline">
                        <img src="../images/paper_plane.webp" alt=""><h4>READY FOR CODING</h4>
                    </div>
                    <span>
                        Vivamus convallis feugiat mauris sed posuere. 
                        Nam rutrum, quam quis euismod commodo, elit est porta quam, non placerat eros neque porta ante. 
                        Fusce quis odio urna.
                    </span>
                    <div class="inline_i">
                        <i class="fa-solid fa-angle-right"></i><a href="">Read more</a>
                    </div>
                </div>
            </nav>
        </div>
    </body>
</html>